<div class="container">
    <div class="container main">
        <div class="row">
            <div class="col-sm-12">
                <div class="title">
                    <h1>Pathfinder Spellbook</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
            </div>
            <div class="col-sm-7">
                <p class="lead">Explore.</p>
                <p class="lead2">Create.</p>
                <p class="lead3">Have fun!</p>
            </div>
        </div>
    </div>
    <div class="Welcome">
        <p>Hello everyone. The purpose of this webpage is to allow a user to create a one-time printable spells list for their Pathfinder Playtest Character. Simply go to the selected spell list and select the spells you'd like. Then view them in your spellbook and print the page! I hope you'll find this webpage useful!</p>
    </div>

    <script>
            if (!sessionStorage.set) {
                var yourSpells = [];
            sessionStorage.setItem("yourSpells", JSON.stringify(yourSpells));
            sessionStorage.setItem("set", true)
        }
        console.log(JSON.parse(sessionStorage.getItem("yourSpells")))

    </script>