<div class="container">
    <div class="container main">
        <div class="row">
            <div class="col-sm-12">
                <div class="title">
                    <h1>Pathfinder Spellbook</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
            </div>
            <div class="col-sm-7">
                <p class="lead">Explore.</p>
                <p class="lead2">Create.</p>
                <p class="lead3">Have fun!</p>
            </div>
        </div>
    </div>
    <div class="Welcome">
        <p>Hello everyone. I hope you'll find this webpage useful!</p>
    </div>

    <script>
        if (!sessionStorage.set) {
            var yourSpells = [];

            sessionStorage.setItem("yourSpells", yourSpells);
            sessionStorage.setItem("set", true)
        }

    </script>