.navbar {
    background-color: #647D9D;
}

.navbar-toggler {
    opacity: 1;
}

.nav-item {
    margin: 5px;
}

.main {
    margin-top: 60px;
    background-image: url("../img/cleve.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    font-family: 'Hind', sans-serif;
}

.aboutUs {
    margin: 3px;
    padding: 4px;
}

.lead {
    -webkit-animation-name: fadein;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s;
    /* Safari 4.0 - 8.0 */
    animation-name: fadein;
    animation-duration: 3s;
    position: relative;
    -webkit-animation: moveover 2s;
    /* Safari 4.0 - 8.0 */
    animation: moveover 2s;
    animation-fill-mode: forwards;
    color: #fff;
    font-family: 'Hind', sans-serif;
    font-size: 190%;
    text-align: center;
    margin-top: 40%;
    opacity: .8;
    background-color: #6D5D57;
    width: 50%;
}

.lead2 {
    -webkit-animation-name: fadeinTwo;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 1s;
    animation-name: fadeinTwo;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    color: #fff;
    font-family: 'Hind', sans-serif;
    font-size: 190%;
    text-align: center;
    margin-right: -10%;
    opacity: 0;
    background-color: #6D5D57;
    width: 50%;
}

.lead3 {
    -webkit-animation-name: fadeinThree;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 2s;
    animation-name: fadeinThree;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    color: #fff;
    font-family: 'Hind', sans-serif;
    font-size: 190%;
    text-align: center;
    margin-left: 30%;
    opacity: 0;
    background-color: #6D5D57;
    width: 50%;
}

@-webkit-keyframes moveover {
    /* safari */
    from {
        right: 0%;
    }
    to {
        right: 20%;
    }
}

@keyframes moveover {
    from {
        right: 0%;
    }
    to {
        right: 20%;
    }
}

@-webkit-keyframes fadein {
    /* safari*/
    0% {
        opacity: 0;
    }
    100% {
        opacity: .8;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .8;
    }
}

@-webkit-keyframes fadeinTwo {
    /* safari*/
    0% {
        opacity: 0;
    }
    100% {
        opacity: .8;
    }
}

@keyframes fadeinTwo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .8;
    }
}

@-webkit-keyframes fadeinThree {
    /* safari*/
    0% {
        opacity: 0;
    }
    100% {
        opacity: .8;
    }
}

@keyframes fadeinThree {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .8;
    }
}

.title {
	margin-top: 10px;
    width: 50%;
    text-align: center;
    padding: 8px;
}

h1 {
    font-family: 'Limelight', cursive;
    font-size: 350%;
    background-color: #fff;
    opacity: .8;
}


/* Make the links look cool */

a:link {
    color: #282923;
    text-decoration: none;
    font-size: 110%;
}

a:visited {
    color: #282923;
    text-decoration: none;
}

a:hover {
    opacity: .4;
    text-decoration: none;
}

.info {
    margin-top: 10%;
    background-color: #647692;
    margin: 5px 1px;
    padding: 5px 0px;
}

.review {
	background-color: #EBA745;
    font-weight: bold; 
    padding-bottom: 5px;
    padding-left: 5px;
    margin: 2px;
}

.fas {
	width: 25px;
	height: 25px;
}

.loca {
	
    height: 100%;
    min-height: 20em;
    
}



.location {
    background-color: #fff;
    opacity: .8;
    font-family: 'Hind', sans-serif;
    font-weight: bolder;
    margin: 8px 0 0 8px;
}

.card-body {
    background-color: #F2EAE0;
      
}

.card-text {
	font-size: 150%;
    font-family: 'Hind', sans-serif;
    color: #647692;
}

.image {
	/*margin-left: -22px;
	margin-top: 5px;*/
    width: 100%;
    height: 100%;
    border: 5px solid #fff;
    border-image-source: url(../img/texture.jpg);
    border-image-slice: 30;
    border-image-repeat: round;
}

.liked{
    background-color: yellow;
}


/* Media queries for screens less than 992px */

@media screen and (max-width: 992px) {
    .title {
        margin-top: 10%;
        width: 100%;
        font-size: 85%;
    }
    .lead {
        width: 100%;
    }
    .lead2 {
        width: 100%;
    }
    .lead3 {
        width: 100%;
    }
}

@media screen and (max-width: 412px) {
    .title {
        margin-top: 10%;
        width: 100%;
        font-size: 80%;
    }
    .lead {
        width: 60%;
    }
    .lead2 {
        width: 60%;
    }
    .lead3 {
        width: 60%;
    }
    .card {
    	height: 20%;
    }
    .image {
    	width: 250px;
    	height: 200px;
    	align-items: center;
    }
}